<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
        <!-- Required meta tags-->
        <meta charset="UTF-8">
        <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
        <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
        <!-- Font special for pages-->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">


        <!-- Title Page-->

        <!-- Icons font CSS-->
        <link href="../static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
        <link href="../static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
        <!-- Font special for pages-->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

        <!-- Vendor CSS-->
        <link href="../static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
        <link href="../static/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

        <!-- Main CSS-->
        <link href="../static/css/main.css" rel="stylesheet" media="all">
    <title>LookBook</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/animate.css">

    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css">

    <link rel="stylesheet" href="../static/css/aos.css">

    <link rel="stylesheet" href="../static/css/ionicons.min.css">

    <link rel="stylesheet" href="../static/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="../static/css/jquery.timepicker.css">


    <link rel="stylesheet" href="../static/css/flaticon.css">
    <link rel="stylesheet" href="../static/css/icomoon.css">
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="{%url 'index'%}"><span class="flaticon-lotus"></span>LookBook</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><a href="{%url "index"%}" class="nav-link">Home🏠️</a></li>
	          <li class="nav-item"><a href="{%url 'register'%}" class="nav-link">Sign Up🤗️</a></li>
	          <li class="nav-item"><a href="{%url 'login'%}" class="nav-link">Login🤪️</a></li>
	          <li class="nav-item"><a href="{%url 'aboutus'%}" class="nav-link">About🤔️</a></li>
	        </ul>
	      </div>
		  </div>
	  </nav>
    <!-- END nav -->

    <section class="hero-wrap js-fullheight" style="background-image: url('../static/images/Book.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-3 bread">Lookbook's Sign Up Page</h1>
            <p class="breadcrumbs"> <span>We are Happy to see you in Our Community</span></p>
          </div>
        </div>
      </div>
    </section>


	  <section class="ftco-section" style="background-image: url('../static/images/Book.jpg');">
	  	<div class="container">
	  		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-12 heading-section ftco-animate text-center">
            <h3 class="subheading">Lookbook</h3>
            <h2 class="mb-1">Sign Up</h2>
          </div>
        </div>
        <div class="page-wrapper p-t-180 p-b-100 font-robo" style="background-image: url('../static/images/Book.jpg');">
            <div class="wrapper wrapper--w960">
                <div class="card card-2">
                    <div class="card-heading"></div>
                    <div class="card-body">
                        <h2 class="title">Registration Form</h2>
                        <form method="POST">
                          {%csrf_token%}
                          {% if error_message %}
                         <p class="alert alert-primary">{{ error_message }}</p>
                     {% endif %}
                            <div class="input-group">
                              {{form.username}}
                          <!--  <input class="input--style-2" type="text" placeholder="Username" name="Username">-->
                            </div>
                            <div class="input-group">
                              {{form.userfirstname}}
                              <!--<input class="input--style-2" type="text" placeholder="FirstName" name="Firstname">-->
                            </div>
                            <div class="input-group">
                                <!--<input class="input--style-2" type="text" placeholder="LastName" name="Lastname">-->
                                {{form.userlastname}}
                            </div>

                            <div class="input-group">
                              <!--  <input class="input--style-2" type="text" placeholder="Contact" name="Contact">-->
                              {{form.usercontact}}
                            </div>
                            <div class="input-group">
                                <!--<input class="input--style-2" type="password" placeholder="Password" name="Password">-->
                                {{form.userpassword}}
                            </div>

                            <div class="input-group">
                              <!--  <input class="input--style-2" type="password" placeholder="Confirm password" name="Confirm password">-->
                              {{form.userconfirmpassword}}
                            </div>
                            <div class="input-group">
                              <!--  <input class="input--style-2" type="password" placeholder="Confirm password" name="Confirm password">-->
                              {{form.userlocation}}
                            </div>

                            <div class="input-group">
                              <!--  <input class="input--style-2" type="text" placeholder="Mail" name="Mail">-->
                              {{form.usermail}}
                            </div>
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                        <!--<input class="input--style-2 js-datepicker" type="text" placeholder="Birthdate" name="birthday">-->
                                        {{form.userDoB}}
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                              </div>
                                <div class="input-group">
                                  <!--  <input class="input--style-2" type="text" placeholder="Mail" name="Mail">-->
                                  {{form.usergender}}
                                </div>
                                <!--<div class="col-2">
                                    <div class="input-group">
                                        {{form.user}}
                                            <select name="gender">
                                                <option disabled="disabled" selected="selected">Gender</option>
                                                <option>Male</option>
                                                <option>Female</option>
                                                <option>Other</option>
                                            </select>
                                            <div class="select-dropdown"></div>
                                        </div>
                                    </div>
                            </div>-->
                            <div class="p-t-30">
                                <button class="btn btn--radius btn--green" type="submit">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Jquery JS-->
        <script src="../static/vendor/jquery/jquery.min.js"></script>
        <!-- Vendor JS-->
        <script src="../static/vendor/select2/select2.min.js"></script>
        <script src="../static/vendor/datepicker/moment.min.js"></script>
        <script src="../static/vendor/datepicker/daterangepicker.js"></script>

        <!-- Main JS-->
        <script src="../static/js/global.js"></script>

  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="../static/js/popper.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/jquery.easing.1.3.js"></script>
  <script src="../static/js/jquery.waypoints.min.js"></script>
  <script src="../static/js/jquery.stellar.min.js"></script>
  <script src="../static/js/owl.carousel.min.js"></script>
  <script src="../static/js/jquery.magnific-popup.min.js"></script>
  <script src="../static/js/aos.js"></script>
  <script src="../static/js/jquery.animateNumber.min.js"></script>
  <script src="../static/js/bootstrap-datepicker.js"></script>
  <script src="../static/js/jquery.timepicker.min.js"></script>
  <script src="../static/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="../static/js/google-map.js"></script>
  <script src="../static/js/main.js"></script>

  </body>
</html>
